<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinRtkHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <WinRtkHost.Properties.Settings>
            <setting name="GPSReceiverType" serializeAs="String">
                <value>UM982</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseStationAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="LogDaysToKeep" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value />
            </setting>
        </WinRtkHost.Properties.Settings>
    </applicationSettings>
</configuration>